.cart-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 6px double green;
}

.cart-heading{
    font-size: 30px;
    font-weight: bolder;
}
.cart{
    overflow-x: hidden;
    
}