.cart-item{
    padding: 30px;
    width: 100%;
  
    margin-right: 100px;
    
}
.cart-item-image img{
    height: 200px;
    width: 200px;
   
    border-right: 1px solid rgb(19, 18, 18);

}
.cartitem-delete{
    background: none;
    border: none;
}

.cartitem-delete:hover::after{
    content: "Delete";
    background-color: rgb(87, 82, 82);
    color: white;
    border-radius: 10px;
    width: 100px;
    
}