.products{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.input-parent{
        display: flex;
        justify-content: center;
        
}
.input-search {
    
    width: 450px;
    height: 40px;
    padding-left: 20px;
    font-size: medium;
    border: none;
    font-weight:bold;
    outline: none;
   
    
}
.loading{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loading-box {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75%{transform: rotate(270deg);}
    100% { transform: rotate(360deg); }
}